.containerbox {
    width: 100%;
    height: 500px;
    position: relative;
    margin-top: 80px;
    background-image: url(../img/Image34.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}
.containerbox:before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(36, 40, 83, 0.692);
    position: absolute;
    top: 0;
    left: 0;
}
.containerinfobox {
    max-width: 1200px;
    height: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
}
.containerinfobox h1 {
    font-size: 60px;
    font-weight: 500;
    color: #FFFFFF;
}
.containerinfobox p {
    font-size: 20px;
    font-weight: 300;
    color: #FFFFFF;
}
.containerinfobox a {
    cursor: pointer;
    margin-top: 20px;
    margin-left: 20px;
    border-style: none;
    font-size: 16px;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: #1B3A4B;
    color: #FFFFFF;
}
.containerinfobox a:hover {
    background-color: #006466;
    color: #1B3A4B;
    transition: 0.3s;
}
.containerarticlebox {
    width: 1000px;
    margin: auto;
    margin-top: 40px;
    display: flex;
}
article {
    width: 100%;
    padding: 20px;
    padding-bottom: 40px;
    box-shadow: -15px 0px 20px -30px black;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
article:before {
    content: '';
    width: 100%;
    height: 6px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1B3A4B;
}
article h1, h2 {
    margin-top: 20px;
    font-weight: 500;
    font-size: 40px;
}
article p {
    margin-top: 20px;
    font-size: 18px;
    color: rgb(73, 71, 71);
    text-align: justify;
}
article img {
    width: 100%;
    margin-top: 20px;
}